# EVCharging - Release 2 Dependencies
# Instalar con: pip install -r requirements.txt

# Kafka
kafka-python

# Flask (API REST)
flask
flask-cors

# HTTP requests
requests
urllib3

# Cryptography (cifrado Fernet/AES)
cryptography
